extends layouts/frontend

block content
            div.container
                div.error-message
                    h2 Oops, Vous n'êtes pas authentifiez.
                    p Veuillez vérifier que vous êtes connectés.
                div.error-actions
                    a.btn(href='/') Retour à l'insciption